body{
  background-color: rgb(54,54,54);
  text-align: center;
  font-family: Helvetica;
  color:white;
  position: relative;
  height: 100%;
}

html {
  height: 100%;
  overflow: hidden;
}

.clockContainer{
	position: absolute;
  top:0; 
  left:0;
  bottom:0;
  right:0;
  margin: auto;
  width: 150px;
  height: 150px;
  border: 1px solid transparent;
}

.clockOut{
  width: 80%;
  height: 80%;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  bottom:0;
  margin-left: auto; margin-right: auto; left:0; right:0;
}


.clockNeedle{
  width: 50px;
  height: 2px;
  background: red;
  position: absolute;
  top: 50%;
  left: 10px;
  transform-origin:100% 50%;
  -webkit-transform-origin:100% 50%;
  -webkit-animation: needleAnimation 3s linear 0s infinite; 
  animation: needleAnimation 3s linear 0s infinite;
}
.clockHour{
  width: 50px;
  height: 2px;
  background: red;
  position: absolute;
  top: 50%;
  left: 10px;
  transform-origin:100% 50%;
  -webkit-transform-origin:100% 50%;
  -webkit-animation: needleAnimation 1s linear 0s infinite; 
  animation: needleAnimation 60s linear 0s infinite;
}

 
@keyframes needleAnimation {
   from {
    	
    }
    to {
    	-ms-transform:rotate(360deg); 
    	-moz-transform:rotate(360deg); 
    	-webkit-transform:rotate(360deg); 
	}
}